@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    scroll-behavior: smooth;
  }
  * {
    @apply selection:bg-orange-200 selection:text-orange-800;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-accent to-orange-400 bg-clip-text text-transparent;
  }
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e8572a66;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #e8572a;
}
